extends ../master.jade

block title

	title 亨元金融 · 汇通分期网

block private-stylesheet

	+importCSS(false, 'css/fenqimall.com/index.css')

block private-head-javascript



block content

	// Put your HTML custom content here ...

	div(class='relative fullWidth index-area-placeholder index-promo')

		div(class='row index-promo-main')

	footer(class='relative fullWidth global-footer', itemscope itemtype='http://schema.org/WPFooter')

		// Sitemap.

		div(class='sitemap row clearfix')

			div(class='grid grid_3')

				h4 如何分期

				a(class='hover-link', href='#', hreflang='zh') 怎样分期

				a(class='hover-link', href='#', hreflang='zh') 还款方式

				a(class='hover-link', href='#', hreflang='zh') 常见问题

			div(class='grid grid_3')

				h4 关于汇通

				a(class='hover-link', href='#', hreflang='zh') 汇通分期商城简介

				a(class='hover-link', href='#', hreflang='zh') 汇通公告

				a(class='hover-link', href='#', hreflang='zh') 招贤纳士

			div(class='grid grid_3')

				h4 招商合作

				a(class='hover-link', href='#', hreflang='zh') 商户入驻

				a(class='hover-link', href='#', hreflang='zh') 汇通公告

			div(class='spColumn grid grid_3')

				h4 联系方式

				span(class='left') 客服电话：

				a(class='left inline-display clean-link', href="tel:1-408-555-5555") 400-808-5599

				div(class='left')

					a(class='inline-display clean-link', href='#', hreflang='zh') 关注我们

			i(class='grid grid_12')

		// Copyright.

		div(class='relative copy-right')

			div(class='relative row')

				span(class='grid_6') © 2013-2014 上海亨元金融信息服务有限公司 版权所有 赣ICP备13002945

				// CNZZ tracker script.

				div(class='absolute left CNZZ-tracker')

				// Referral code.

				div(class='right referral-code') 推荐码：

					span 1024

block private-body-script

	+jsloader(false, 'js/fenqimall.com/index')