extends ../master.jade

block title

	title 亨元金融 · 汇通分期网

block private-stylesheet

	+importCSS(false, 'css/fenqimall.com/index.css')

block private-head-javascript



block content

	// Put your HTML custom content here ...

	div(class='relative fullWidth index-area-placeholder index-promo')

		div(class='row index-promo-main')

block private-body-script

	+jsloader(false, 'js/fenqimall.com/index')