extends ../master/master.jade

block title

	title 亨元金融 · 汇通分期网

block private-stylesheet

	+importCSS(false, 'css/fenqimall.com/index.css')

block private-head-javascript

block content

	// Put your HTML custom content here ...

	div(class='relative fullWidth index-area-placeholder index-promo')

		// Test class: 'bg-test-fill-blue'.

		div(class='row index-promo-main')

			// Test class: 'bg-test-fill-radial-gradient'.

			div(class='grid grid_12 index-promo-effective-area')

				// Registration Form.

				form(id='frmIdxRgt', class='right frm clearfix frmIdxRgt wow bounceInLeft', name='frmIdxRgt', action='#', method='post')

					// Form switcher.

					div(class='fullWidth clearfix form-switcher')

						a(class='left clean-link default-cursor btnRegistGuide', href='#', hreflang='zh') 注册账号

						a(class='right touch-action hover-link btnLoginGuide', href='#', hreflang='zh') 登录

					// Form inputs · User ( use 'error' class to switch error and normal status )

					div(class='relative field fullWidth minHeight-50 round-box-3px border_box user')

						input(id='iptUserRgt', class='iptUserRgt', name='iptUserRgt', type='text', title='请输入用户名...', form='frmIdxRgt', placeholder='用户名', required='true', tabindex='')

						div(class='wrong round-box-3px hide') 错误信息 ...

					// Form inputs · Password ( use 'error' class to switch error and normal status )

					div(class='relative field fullWidth minHeight-50 round-box-3px border_box password')

						input(id='iptPassRgt', class='iptPassRgt', name='iptPassRgt', type='password', title='请输入密码...', form='frmIdxRgt', placeholder='请输入密码', required='true', tabindex='')

						div(class='wrong round-box-3px hide') 错误信息 ...

					// Form inputs · Confirm Password ( use 'error' class to switch error and normal status )

					div(class='relative field fullWidth minHeight-50 round-box-3px border_box double-password')

						input(id='iptDoublePassRgt', class='iptDoublePassRgt', name='iptDoublePassRgt', type='password', title='请再次输入密码...', form='frmIdxRgt', placeholder='请输入密码', required='true', tabindex='')

						div(class='wrong round-box-3px hide') 错误信息 ...

					// Form inputs · Phone ( use 'error' class to switch error and normal status )

					div(class='relative field fullWidth minHeight-50 round-box-3px border_box phone')

						input(id='iptPhoneRgt', class='iptPhoneRgt', name='iptPhoneRgt', type='text', title='请输入手机号码...', form='frmIdxRgt', placeholder='手机', required='true', tabindex='')

						div(class='wrong round-box-3px hide') 错误信息 ...

					// Form inputs · Validation Code ( use 'error' class to switch error and normal status )

					div(class='relative field fullWidth minHeight-50 round-box-3px border_box validation-code')

						input(id='iptValiCodeRgt', class='iptValiCodeRgt', name='iptValiCodeRgt', type='text', title='请输入验证码...', form='frmIdxRgt', placeholder='验证码', required='true', tabindex='')

						div(class='wrong round-box-3px hide') 错误信息 ...

					// Form · Validation Code Output

					div(class='minHeight-50 border_box out-put-vali-code')

						div(class='code-graphic round-box-3px bg-test-fill-grey')

						a(href='#', class='text-center hover-link touch-action change-code') 看不清，换一个

					// Form · Radio Box

					div(class='relative rdoAgreementArea')

						input(id='chkAgreement', class='chkAgreement', name='chkAgreement', type='checkbox')

						label(for='chkAgreement', class='absolute readed') 我已阅读并同意

						a(class='absolute', href='#', title='点击查看《我爱我贷网注册协议》') 《我爱我贷网注册协议》

					// Form button · Submit

					button(id='btnSubmitRegister', class='fullWidth round-box-3px btnSubmit btnSubmitRegister notUseful touch-action', name='btnSubmitRegister', type='submit', title='确认提交？') 注册

				// Login Form.

				form(id='frmIdxLogin', class='right frm frmIdxLogin hide', name='frmIdxLogin', action='#', method='post')

					// Form switcher.

					div(class='fullWidth clearfix form-switcher')

						a(class='left clean-link default-cursor btnLoginGuide', href='#', hreflang='zh') 登录汇通分期

						a(class='right touch-action hover-link btnRegistGuide', href='#', hreflang='zh') 注册

					// Form inputs · User ( use 'error' class to switch error and normal status )

					div(class='relative field fullWidth minHeight-50 round-box-3px border_box user')

						input(id='iptUserLogin', class='iptUserLogin', name='iptUserLogin', type='text', title='请输入用户名...', form='frmIdxLogin', placeholder='用户名', required='true', tabindex='')

						div(class='wrong round-box-3px hide') 错误信息 ...

					// Form inputs · Password ( use 'error' class to switch error and normal status )

					div(class='relative field fullWidth minHeight-50 round-box-3px border_box password')

						input(id='iptPassLogin', class='iptPassLogin', name='iptPassLogin', type='password', title='请输入密码...', form='frmIdxLogin', placeholder='请输入密码', required='true', tabindex='')

						div(class='wrong round-box-3px hide') 错误信息 ...

					// Form inputs · Validation Code ( use 'error' class to switch error and normal status )

					div(class='relative field fullWidth minHeight-50 round-box-3px border_box validation-code')

						input(id='iptValiCodeLogin', class='iptValiCodeLogin', name='iptValiCodeLogin', type='text', title='请输入验证码...', form='frmIdxLogin', placeholder='验证码', required='true', tabindex='')

						div(class='wrong round-box-3px hide') 错误信息 ...

					// Form · Validation Code Output

					div(class='minHeight-50 border_box out-put-vali-code')

						div(class='code-graphic round-box-3px bg-test-fill-grey')

						a(href='#', class='text-center hover-link touch-action change-code') 看不清，换一个

					// Form button · Submit

					button(id='btnSubmitLogin', class='fullWidth round-box-3px btnSubmit btnSubmitLogin useful touch-action', name='btnSubmitLogin', type='submit') 登录

block private-body-script

	+jsloader(false, 'js/fenqimall.com/index')



// ___________  ______    _____  ___   ___  ___
//("     _   ")/    " \  (\"   \|"  \ |"  \/"  |
// )__/  \\__/// ____  \ |.\\   \    | \   \  /
//	\\_ /  /  /    ) :)|: \.   \\  |  \\  \/
//	|.  | (: (____/ // |.  \    \. |  /   /
//	\:  |  \        /  |    \    \ | /   /
//	 \__|   \"_____/    \___|\____\)|___/ 沈维忠 ( Shen Weizhong / Tony Stark ).
//
//* Version: 0.1.0-alpha
//
//* Creation Date: ~ ( Tony ).
//
//* Last Update: 2014.05.12 12:24 ( Tony ).