extends ../master/master.jade

block title

	title 注册成功 · 跳转中 · 亨元金融 · 汇通分期网

block private-stylesheet

	+importCSS(false, 'css/fenqimall.com/redirector.css')

block private-head-javascript

block content

	// Put your HTML custom content here ...

	div(class='relative fullWidth redirector-placeholder')

		// Test class: 'bg-test-fill-blue'.

		div(class='row clearfix redirector-placeholder-main')

			// Test class: 'bg-test-fill-radial-gradient'.

			div(class='grid grid_12 redirector-placeholder-effective-area')

				div(class='grid_12 pig-animation')

				h1(class='grid_12 text-center') 梦想基金发放中 ...

				div(class='grid_12 progress')

					div(class='relative progress-effective-area')

						div(class='absolute base')

						div(class='absolute bar')

						div(class='absolute mask')

				h2(class='grid_12 text-center') 恭喜您！获得5000元梦想基金

				div(class='grid_12 btns hide')

					div(class='btns-effective-area')

						a(class='left round-box-3px border_box clean-link text-center __btn btns-1', href='#', hreflang='zh') 立即提取现金

						a(class='right round-box-3px border_box clean-link text-center __btn btns-2', href='#', hreflang='zh') 进入我的账户

block private-body-script

	+jsloader(false, 'js/fenqimall.com/redirector')



// ___________  ______    _____  ___   ___  ___
//("     _   ")/    " \  (\"   \|"  \ |"  \/"  |
// )__/  \\__/// ____  \ |.\\   \    | \   \  /
//	\\_ /  /  /    ) :)|: \.   \\  |  \\  \/
//	|.  | (: (____/ // |.  \    \. |  /   /
//	\:  |  \        /  |    \    \ | /   /
//	 \__|   \"_____/    \___|\____\)|___/ 沈维忠 ( Shen Weizhong / Tony Stark ).
//
//* Version: 0.1.0-alpha
//
//* Creation Date: 2014.05.12 18.58 ( Tony ).
//
//* Last Update: 2014.05.13 10.56 ( Tony ).