extends ../master/master.jade

block title

	title 注册协议 · 亨元金融 · 汇通分期网

block private-stylesheet

	+importCSS(false, 'css/fenqimall.com/registration.protocol.css')

block private-head-javascript

block content

	div(class='relative fullWidth')

		// Test class: 'bg-test-fill-blue'.

		div(class='row clearfix')

			// Test class: 'minHeight-500 bg-test-fill-radial-gradient'.

			div(class='grid grid_12 clearfix effective-area agreementShow')

				h4(class='text-center') 亨元金融 · 汇通分期网 · 注册协议

				div.rela.fullWidth.minHeight-500

					h5.h5_1 欢迎阅读亨元金融汇通分期网用户注册协议（“本协议”或“本注册协议”）。

					p.p_1 本用户注册协议（“本协议”）的协议双方为：

						br

						b.txtIdt 网：

						| 由江西汇通金融信息服务有限公司成立的金融信息服务网站，网址为www.fenqimall.com，以下称为“亨元金融汇通分期网”。

						| <br/>

						b.txtIdt 亨元金融汇通分期网注册用户：

						| 根据本协议在亨元金融汇通分期网进行注册，并拟通过亨元金融汇通分期网进行投资、借款等事项的用户，以下称为“用户”。

						| <br/> 

					- for (var x = 0; x < 30; x++)

						p 亨元金融汇通分期网将根据本协议的规定为用户提供相关金融信息服务（“亨元金融汇通分期网服务”），亨元金融汇通分期网在此特别提醒您认真阅读、充分理解本协议各条款，特别是其中所涉及的免除及限制亨元金融汇通分期网责任的条款和对用户权利限制的条款等。请您审慎阅读并选择接受或不接受本协议。除非您接受本协议所有条款，否则您无权使用亨元金融汇通分期网所提供的服务。

block private-body-script

	+jsloader(false, 'js/fenqimall.com/registration.protocol')



// ___________  ______    _____  ___   ___  ___
//("     _   ")/    " \  (\"   \|"  \ |"  \/"  |
// )__/  \\__/// ____  \ |.\\   \    | \   \  /
//	\\_ /  /  /    ) :)|: \.   \\  |  \\  \/
//	|.  | (: (____/ // |.  \    \. |  /   /
//	\:  |  \        /  |    \    \ | /   /
//	 \__|   \"_____/    \___|\____\)|___/ 沈维忠 ( Shen Weizhong / Tony Stark ).
//
//* Version: 0.1.0-alpha
//
//* Creation Date: 2014.06.12 16:49 ( Tony ).
//
//* Last Update: 2014.06.12 17:27 ( Tony ).