extends ../master/blank.jade

block title

	title 栏目 · 梦想基金 · 个人中心

block private-stylesheet

	+importCSS(false, 'css/fenqimall.com/personal.center_dream.fund.css')

block private-head-javascript

block content

	div(class='demo dream-found')

		h4 梦想基金

		span(class='_lbl _lbl-1 _horizontal') 梦想额度：

		div(class='_money _money-1 _horizontal') 50000.00

		span(class='_lbl _lbl-2 _horizontal') 可用额度：
		
		div(class='_money _money-2 _highlight _horizontal') 50000.00

		a(class='btn-get-cash', href='#') 提取现金

		a(class='btn-metro-grahic bmg-1', href='#') 就业

		a(class='btn-metro-grahic bmg-2', href='#') 驾校

		a(class='btn-metro-grahic bmg-3', href='#') 教育&培训

		a(class='btn-metro-grahic bmg-4', href='#') 旅游

		a(class='btn-metro-grahic bmg-5', href='#') 数码

		i(class='i_1__') &nbsp;

		i(class='i_2__') &nbsp;

		i(class='i_3__') &nbsp;



// ___________  ______    _____  ___   ___  ___
//("     _   ")/    " \  (\"   \|"  \ |"  \/"  |
// )__/  \\__/// ____  \ |.\\   \    | \   \  /
//	\\_ /  /  /    ) :)|: \.   \\  |  \\  \/
//	|.  | (: (____/ // |.  \    \. |  /   /
//	\:  |  \        /  |    \    \ | /   /
//	 \__|   \"_____/    \___|\____\)|___/ 沈维忠 ( Shen Weizhong / Tony Stark ).
//
//* Version: 0.1.0-alpha
//
//* Creation Date: ~ ( Tony ).
//
//* Last Update: 2014.05.12 15:36 ( Tony ).